.note {
  background-clip: border-box;
  background-image: url(../styles/blurry-gradient-haikei.svg);
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

@media (max-width: 1023px) {
  .note {
    flex-direction: column;
    height: 100vh;
  }
}
