
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container {
  align-items: center;
  background-image: url(../styles/blurry-gradient-haikei.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-family: '';
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  letter-spacing: 3px;
}

.logo {
  margin-bottom: 40px;
  padding: 40px;
  width: 500px;
}

.pro {
  color: purple;
  font-weight: bolder;
}

.button {
  border-bottom: 3px solid rgba(255, 251, 251, 0.5);
  margin-top: 40px
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.featureImg {
  width: 250px;
}

.button:hover {
  border-bottom: 3px solid rgba(114, 7, 253, 0.5);
  cursor: pointer;
}

.link {
  color: #000
  text-decoration: none;
}


