.component {
  padding: 50px 150px 50px 150px;
  /* position: relative; */
}

/* small desktop */
@media (min-width: 1024px) and (max-width: 1300px) {
  .component {
    height: 100%;
    padding: 50px 70px 50px 70px;
    width: 100%;
  }
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .component {
    height: 100%;
    padding: 50px 60px 50px 60px;
    width: 100%;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .component {
    height: 100%;
    padding: 50px 30px 50px 30px;
    width: 100%;
  }
}

.iconBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.noteIcon {
  cursor: pointer;
  font-size: 50px;
  margin: 0;
  width: 50px;
  z-index: 2;
}

.noteIcon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.trashcan {
  cursor: pointer;
  font-size: 25px;
}

.trashcan:hover {
  color: var(--main-purple);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.noteTitle {
  align-items: center;
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.titleInput {
  align-items: center;
  background-color: var(--main-white);
  border: 1px solid var(--main-gray);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  height: 80px;
  justify-content: center;
  text-align: center;
  opacity: 70%;
  width: 70vw;
}

.noteText {
  background-color: var(--main-white);
  border-radius: 10px;
  font-size: 20px;
  height: 63vh;
  padding: 50px;
  width: 70vw;
}

.textInput {
  background-color: var(--main-white);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 63vh;
  opacity: 70%;
  padding: 50px;
  text-align: start;
  vertical-align: top;
  width: 100%;
}

.extraInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.audio {
  backface-visibility: 'hidden';
  background-color: transparent;
  border: transparent;
  height: 30px;
  width: 80%;
}
