@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.side {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  justify-content: flex-start;
  min-width: 220px;
  resize: horizontal;
}

.info {
  align-items: center;
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.pic {
  border-radius: 70%;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}

.note {
  margin: 10px;
  padding: 10px;
}

.new {
  background-color: var(--main-white);
  border-radius: 50px;
  color: var(--main-black);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.new:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  transition: 0.3s;
}

.icon {
  align-items: center;
  border: transparent;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 25px;
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.title {
  align-items: center;
  display: flex;
  height: 25px;
  text-decoration: none;
  padding-left: 10px;
  width: 100%;
}

.selected {
  align-items: center;
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  height: 30px;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 10px;
  text-decoration: none;
  width: 100%;
}

.titleBox {
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  height: 30px;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 10px;
  width: 100%;
}

.titleBox:hover {
  background-color: var(--main-white);
  transition: 0.5s;
}

.picker {
  display: none;
  position: absolute;
}

.return {
  letter-spacing: 1px;
  margin-top: 50vh;
  margin-left: 30px;
  width: 150px;
}

.returnHeader:hover {
  border-bottom: 3px solid rgba(101, 9, 248, 0.2);
  cursor: pointer;
}

.returnHeader {
  border-bottom: 3px solid rgba(255, 251, 251, 0.5);
  padding-bottom: 15px;
}

.listTitle {
  background-color: transparent;
  border: transparent;
  color: var(--main-black);
  font-size: 18px;
  height: 50px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

/* * For tablet & mobile devices * */
@media (max-width: 1023px) {
  .side {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    width: 100vw;
  }

  .selected {
    display: none;
  }

  .titleBox {
    display: none;
  }

  .info {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 25px;
  }

  .listTitle {
    align-self: stretch;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .new {
    margin-right: 20px;
    padding: 13px 40px 13px 40px;
  }
}
